.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transform: translate(-15rem, 6rem);
}

.about-paragraph {
  width: 50%;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
