.headerBar {
  width: 100vw;
  z-index: 200;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 5rem;
  border-right: 10rem;

  h1 {
    margin-top: 1rem;
    font-size: 2.5em;
    font: "Quantico", Helvetica, Arial, sans-serif;
  }

  h2 {
    font-size: 1.2em;
  }
}

.logos {
  justify-self: end;
  margin-top: 0.6rem;
  margin-right: 2rem;
  gap: 1.5rem;
  display: flex;
}

.headerName {
  justify-self: start;
  min-width: 30rem;
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
}
