.headerBar {
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: black;
    color: white;
}


@media (min-width: 768px) {
    .headerBar {
        width: 100vw;
    }
}

@media (max-width: 768px) {
    .headerBar {
        width: 150vw;

        h1 {
            font: 1.5rem/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        h2 {
            font: 1rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    }
}
