.headerBar {
  width: 100vw;
  z-index: 200;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 5rem;
  border-right: 10rem;

  h2 {
    font-size: 1.2em;
  }
}

.header-title {
  margin-left: 4rem;
  margin-top: 1rem;
  font-size: 2.5em;
}

.logos {
  justify-self: end;
  margin-top: 0.6rem;
  margin-right: 2rem;
  gap: 1.5rem;
  display: flex;
}

.links {
  display: flex;
}

.link {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  margin: 0.3rem 0.5rem;
  padding: 0.5em;
}

.dropdown-menu {
  padding: 0;
  padding-top: 0.5rem;
  margin: 0;
  border-color: black;
  border-radius: 0.5rem;
  background-color: black;
}

.nav-Button {
  width: 4rem;
  button {
    color: white;
    border-radius: 2rem;
    font-weight: bold;
    border-style: outset;
    border-color: orange;
    border-radius: 8px;
    padding: 0.4em 1em;
    font-size: 0.7em;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }

  .opened-button {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

/* Large Phone */
@media screen and (max-width: 768px) {
  .headerBar {
    width: 100vw;
    z-index: 200;
    position: fixed;
    top: 0;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    height: 3rem;
  }

  .header-title {
    margin-left: 0;
    font-size: 1.2em;
    width: 12rem;
    margin-top: 0.8rem;
  }

  .logos {
    justify-self: end;
    margin-right: 2rem;
    gap: 1rem;
    display: flex;
  }

  .links {
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
  }

  .links:hover {
    background-color: white;
    color: black;
  }

  .headerName {
    justify-self: start;
  }
}
