.landingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-align: left;
  align-content: center;
}

.landingContent {
  margin-left: 30rem;
  padding: 1rem;
  border-color: black;
  border-style: outset;
  border-radius: 2rem;
}

.headerVideo {
  position: absolute;
  left: 0;
  transform: translateX(-45%);
  width: auto;
  height: 100%;
  overflow: hidden;
}

.landingButton {
  padding-left: 3rem;

  button {
    border-radius: 2rem;
    font-weight: bold;
    border-style: outset;
    border-color: black;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.description {
  max-width: 600px;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 5%;
  padding: 0.2rem;
}
