.landingPage {
    width: 100%;
    color: white;
    padding: 10rem;
    text-align: left;

}

.landingTitle {
    -webkit-text-stroke: 1px black;
}
.description{
    max-width: 500px;
    font-size: 1.2rem;
}