.sideForm {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
}

.cornerGoblin {
    position: fixed;
    z-index: 200;
    float: left;
    outline: none;
}

.cornerGoblin.layer1 {
    background: black;
}

.cornerGoblin.layer2 {
    background: white;
    border-radius: 50px 0 0 0;
}

@media (min-width: 768px) {
    .sideForm {
        height: 100%;
        width: 150px;
        padding-top: 20px;
    }

    .cornerGoblin {
        top: 11.3rem;
        left: 9.4rem;
        z-index: 200;
        min-width: 3rem;
        min-height: 3rem;
    }

    .cornerGoblin.layer2 {
        border-radius: 50px 0 0 0;
    }
}


@media (max-width: 768px) {
    .sideForm {
        height: 100%;
        width: 75px;
        padding-top: 20px;
    }

    .cornerGoblin {
        top: 6.09rem;
        left: 4.7rem;
        z-index: 200;
        min-width: 3rem;
        min-height: 3rem;
    }

    .cornerGoblin.layer2 {
        border-radius: 50px 0 0 0;
    }
}