.bulletList {
  max-width: 80vw;
  text-align: left;
}

.string-container {
  display: flex;
  justify-content: space-between;
}

.left-title {
  font-weight: bold;
  text-align: right;
  margin-left: 4%;
}

.right-title {
  text-align: right;
  margin-right: 4%;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin-left: 6rem;
}

.certification {
  max-width: 100%;
  height: auto;
}

.slidingPanel {
  padding: 1rem;
  border-color: black;
  border-style: outset;
  border-radius: 3rem;
  /* background-color: rgba(8, 32, 80, 0.3) !important; */
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.mapContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}

.mapContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .contentContainer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 65rem;
    z-index: 10;
    font-weight: bold;

    button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 700;
      font-family: inherit;
      cursor: pointer;
      transition: border-color 0.25s;
      color: black;
    }
    button:hover {
      border-color: green;
    }
    button:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}

@media (max-width: 768px) {
  .mainContainer {
    margin-left: 3rem;
  }

  .tabContainer {
    margin-top: 10rem;

    button {
      font-size: 0.7em;
    }
  }
}
