#root {
  margin: 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Montserrat", serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Quantico", serif;
}

h2 {
  font-family: "Quantico", serif;
}

.mainLayout {
  display: flex;
}

.animated {
  overflow: hidden;
}
