#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

body {
    background-image: url('./assets/elara.jpeg');
    background-size: cover; /* Scales the image to cover the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the div covers the full viewport height */
}